.todos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.todo {
	border: 1px solid #ccc;
	background: #41b883;
	padding: 1rem;
	border-radius: 5px;
	text-align: center;
	position: relative;
	cursor: pointer;

	& > p {
		text-transform: uppercase;
		position: absolute;
		bottom: 5px;
		right: 10px;
		color: #fff;
		cursor: pointer;
	}
}
